{
  "presets": ["babel-preset-expo"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@stores": "./src/stores",
          "@services": "./src/services",
          "@assets": "./assets",
          "@common": "./src/common",
          "@components": "./src/components",
          "@screens": "./src/screens",
          "@constants": "./src/constants",
          "@navigation": "./src/navigation",
          "@node_modules": "./node_modules"
        }
      }
    ]
  ]
}
